Do you know all of these frameworks/libraries ?

<div>
  {{input type="checkbox" name=ember checked=ember}}
  <span>Ember.js</span>
</div>

<div>
  {{input type="checkbox" name=react checked=react disabled="true"}}
  <span>React</span>
</div>

<div>
  {{input type="checkbox" name=angular checked=angular disabled="true"}}
  <span>Angular 2.0</span>
</div>

<h3>
  <strong>
    {{#if cool}}
      {{#if awesome}}
        {{yell}}
      {{/if}}
      {{#unless awesome}}
        {{yell}}
      {{/unless}}
    {{/if}}
  </strong>
</h3>